p{
	font-family: 'Comic Sans MS', serif;
	font-size: 90%;
	
}

h1{
	font-family: 'Comic Sans MS', serif;
	color: brown;
}

h2{
	font-family: 'Comic Sans MS', serif;
	color: #813a8b;
}

h3{
	font-family: 'Comic Sans MS', serif;
	color: green;

}